.activ-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
}

/* contenedor para cada imagen */
.activ-card {
  position: relative;
  display: inline-block;
}

.activ-card img {
  width: 275px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

/* botón sobre la imagen */
.activ-btn {
  position: absolute;
  bottom: 120px;         /* ajusta verticalmente */
  right: 5px;          /* ajusta horizontalmente */
  background-color: #7A4FB0;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 18px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 40px;
  text-align: center;
}

.activ-btn:hover {
  transform: scale(1.05);
  background-color: #654091;
}

@media (max-width: 768px) {

  .activ-row {
    gap: 15px;
    padding: 18px;
  }

  .activ-card img {
    width: 200px;
  }

  .activ-btn {
    bottom: 70px;
    padding: 6px 14px;
    font-size: 14px;
  }
}