@font-face {
  font-family: 'Janda Manatee';
  src: url('./pages/assets/Fuentes/janda_manatee/JandaManateeSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./components/Assets/img/FondoNubes.png");
  background-size: cover;           /* Hace que cubra toda la pantalla */
  background-position: center;      /* Centra la imagen */
  background-attachment: fixed;     /* El fondo no se mueve al hacer scroll */
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  color: #fff; /* texto blanco, si el fondo es oscuro */
}

